{{!-- Notes Tab --}}
<section id="{{partId}}" class="tab {{tabs.notes.cssClass}}" data-group="primary" data-tab="notes">
    <div id="notes" class="prosemirror editor">
        <label class="flex flex-row justify-between mb-2 font-bold text-cs5-brown-900">
            {{localize "FT.actor.sheet.tab.notes"}}
            <a title="{{localize 'FT.actor.sheet.action.notes.edit'}}" data-action="editHTML"
                data-field-name="system.notes">
                <i class="fas fa-edit"></i>
            </a>
        </label>
        <div class="editor-content">
            {{{enrichedNotes}}}
        </div>
        <div class="editor-container"></div>
</section>