<div class="effects">
    {{#each effects as |effect|}}
    <fieldset class="effect" data-effect-id="{{effect._id}}">
        <legend>{{effect.parent.name}}:&nbsp;{{effect.name}}&nbsp;{{#if effect.disabled}}{{localize
            "FT.effect.label.disabled"}}{{/if}}</legend>
        <table>
            <thead>
                <th>{{localize "FT.effect.label.attribute"}}</th>
                <th>{{localize "FT.effect.label.change"}}</th>
                <th>{{localize "FT.effect.label.value"}}</th>
            </thead>
            <tbody>
                {{#each effect.changes as |change|}}
                <tr>
                    <td>{{abbrev change.key len=35 ellipsis=true}}</td>
                    <td>{{localize (concat "FT.effect.modes." change.mode)}}</td>
                    <td>{{change.value}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </fieldset>
    {{/each}}
</div>