{{#*inline "actions"}}
<td class="shrink">
    <a class="document-chat" title="{{localize 'FT.character.sheet.button.chat'}}"><i class="fa fa-comment"></i></a>
    <a class="document-edit" title="{{localize 'FT.character.sheet.button.edit'}}"><i class="fas fa-edit"></i></a>
    <a class="document-delete" title="{{localize 'FT.character.sheet.button.delete'}}"><i class="fas fa-trash"></i></a>
</td>
{{/inline}}

{{#if talents}}
<table>
    <thead>
        <tr>
            {{#if settings.showItemIcons}}<th></th>{{/if}}
            <th class="w-full">{{localize 'FT.character.sheet.table.talents.name'}}</th>
            <th>{{localize 'FT.character.sheet.table.talents.iq'}}</th>
            <th>{{localize 'FT.character.sheet.table.talents.cost'}}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {{#each (sort talents 'name') as |talent|}}
    <tr data-item-id="{{talent._id}}">
        {{#if ../settings.showItemIcons}}
        <td><img src="{{talent.img}}" /> </td>
        {{/if}}
        <td>{{talent.name}}</td>
        <td>{{talent.system.iq}}</td>
        <td>{{talent.system.actualIQCost}}</td>
        <td><a class="px-[2px] action" data-action="talent-roll">{{localize "FT.character.sheet.button.roll"}}</a></td>
        {{> actions}}
    </tr>
    {{/each}}
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td>{{system.totalIQCost.talents}}</td>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>
{{/if}}