<div class="flex flex-col gap-2 justify-start">
    {{!-- Type, Race, Job --}}
    <div class="grid grid-cols-4 gap-1 m-0 p-0">
        <div class="field">
            <label>{{localize "FT.character.sheet.label.type"}}</label>
            <select name="system.type">
                {{selectOptions FT.character.types selected=system.type localize=true
                }}
            </select>
        </div>
        <div class="field col-span-2">
            <label>{{localize "FT.character.sheet.label.race"}}</label>
            <input type="text" name="system.race" value="{{system.race}}" list="race">
            <datalist id="race">
                {{#each FT.character.races}}
                <option value="{{localize .}}">{{localize .}}</option>
                {{/each}}
            </datalist>
        </div>
        <div class="field">
            <label>{{localize "FT.character.sheet.label.age"}}</label>
            <input type="number" min="16">
        </div>
        <div class="field col-span-2">
            <label>{{localize "FT.character.sheet.label.job"}}</label>
            <input type="text" name="system.job.name" value="{{system.job.name}}">
        </div>
        <div class="field">
            <label>{{localize "FT.character.sheet.label.pay"}}</label>
            <input type="number" name="system.job.pay" value="{{system.job.pay}}">
        </div>
        <div class="field">
            <label>{{localize "FT.character.sheet.label.risk"}}</label>
            <div class="grid grid-cols-2 gap-1">
                <input type="number" name="system.job.risk.low" value="{{system.job.risk.low}}" min=" 3" max="11">
                <input type="number" name="system.job.risk.high" value="{{system.job.risk.high}}" min="12" max="18">
            </div>
        </div>
    </div>
    {{!-- Attributes --}}
    <div class="flex flex-row gap-2 justify-between m-0 p-0">
        <div class="flex flex-col gap-1">
            {{#*inline "attribute"}}
            <div class="flex flex-row gap-1 justify-start" data-attribute="{{key}}">
                <label class="bg-black text-white text-xl text-center uppercase min-w-10 rounded-sm m-0 p-1 clickable"
                    data-action="attribute-roll" data-attribute="{{key}}">{{key}}</label>
                <input class="!text-center !text-xl !h-full !w-16" type="number" name="system.{{key}}.max"
                    value="{{attr.max}}" />
                {{#if adj}}
                <div class="field w-12">
                    <label>Adj.</label>
                    <input class="" type="text" value="{{attr.value}}" min="0" max="{{attr.max}}" readonly />
                </div>
                {{/if}}
            </div>
            {{/inline}}
            {{> attribute key="st" attr=system.st adj=true}}
            {{> attribute key="dx" attr=system.dx adj=true}}
            {{> attribute key="iq" attr=system.iq}}
            {{> attribute key="ma" attr=system.ma adj=true}}
        </div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    </div>
    {{!-- Status --}}
    <div class="flex flex-col gap-1 m-0 p-0">
        {{> (concat FT.path "/templates/sheets/_character-status.hbs")}}
    </div>
    {{!-- Action/Combat --}}
    <div class="flex flex-col gap-1 m-0 p-0">
        {{> (concat FT.path "/templates/sheets/_character-combat.hbs")}}
    </div>
</div>