{{!-- Weapons --}}
{{#each weapons as |weapon|}}
{{#if weapon.system.isReady}}
<div
    class="flex flex-row justify-start gap-4 border-[1px] dark:border-slate-300 dark:text-slate-300 rounded-sm m-0 p-[2px] text-xs leading-4">
    <img class="w-4 h-4" src="{{weapon.img}}" alt="">
    <span class="grow">{{weapon.name}}</span>
    <span><i class="icon-broadsword mr-1"></i>{{localize (concat "FT.item.weapon.type." weapon.system.type)}}</span>
    <span><i class="icon-weight-lifting-up mr-1"></i>{{localize
        "FT.character.attribute.st"}}&nbsp;{{weapon.system.minST}}</span>
    <span><i class="icon-sword-brandish mr-1 "></i>{{localize
        "FT.character.attribute.dx"}}&nbsp;{{weapon.system.toHit}}</span>
    <span><i class="icon-death-skull mr-1"></i>{{weapon.system.damage}}{{#if
        weapon.system.damageMod}}&nbsp;({{weapon.system.damageMod}}){{/if}}
    </span>
</div>
{{/if}}
{{/each}}
{{!-- Armor --}}
{{#each armor as |armor|}}
{{#if armor.system.isReady}}
<div
    class="flex flex-row justify-start gap-1 border-[1px] dark:border-slate-300 dark:text-slate-300 rounded-sm m-0 p-[2px] text-xs leading-4">
    <img class="w-4 h-4" src="{{armor.img}}" alt="">
    <span class="grow">{{armor.name}}</span>
    <span><i class="icon-chest-armor mr-1"></i>{{armor.system.hitsStopped}}</span>
</div>
{{/if}}
{{/each}}
{{!-- Shields --}}
{{#each shields as |shield|}}
{{#if shield.system.isReady}}
<div
    class="flex flex-row justify-start gap-1 border-[1px] dark:border-slate-300 dark:text-slate-300 rounded-sm m-0 p-[2px] text-xs leading-4">
    <img class="w-4 h-4" src="{{shield.img}}" alt="">
    <span class="grow">{{shield.name}}</span>
    <span><i class="icon-chest-armor mr-1"></i>{{shield.system.hitsStopped}}</span>
</div>
{{/if}}
{{/each}}