<div class="flex flex-col gap-1">
    {{!-- Weapons --}}
    {{#each weapons as |weapon|}}
    {{#if weapon.system.isReady}}
    <div data-item-id="{{weapon._id}}"
        class="grid grid-cols-[1fr_6fr_3fr_3fr_4fr] gap-1 border-[1px] dark:border-slate-300 dark:text-slate-300 rounded-sm m-0 p-[2px] text-xs leading-4">
        <img class="w-4 h-4" src="{{weapon.img}}" alt="">
        <span class="grow">{{weapon.name}}</span>
        <span><i
                class="icon-weight-lifting-up mr-1 {{#unless (gte ../system.st.max weapon.system.minST)}}warning{{/unless}}"></i>{{localize
            "FT.character.attribute.st"}}&nbsp;{{weapon.system.minST}}</span>
        <span class="px-[2px] action" data-action="attack-roll"><i class="icon-sword-brandish mr-1"></i>{{localize
            "FT.character.attribute.dx"}}&nbsp;{{weapon.system.stHitMod}}</span>
        <span class="px-[2px] action" data-action="damage-roll"><i
                class="icon-death-skull mr-1"></i>{{weapon.system.damage}}{{#if
            weapon.system.stDamageMod}}&nbsp;({{weapon.system.stDamageMod}}){{/if}}
        </span>
    </div>
    {{/if}}
    {{/each}}
    {{!-- Armor --}}
    {{#each armor as |armor|}}
    {{#if armor.system.isReady}}
    <div data-item-id="{{armor._id}}"
        class="flex flex-row justify-start gap-1 border-[1px] dark:border-slate-300 dark:text-slate-300 rounded-sm m-0 p-[2px] text-xs leading-4">
        <img class="w-4 h-4" src="{{armor.img}}" alt="">
        <span class="grow">{{armor.name}}</span>
        <span><i class="icon-chest-armor mr-1"></i>{{armor.system.hitsStopped}}</span>
    </div>
    {{/if}}
    {{/each}}
    {{!-- Shields --}}
    {{#each shields as |shield|}}
    {{#if shield.system.isReady}}
    <div data-item-id="{{shield._id}}"
        class="flex flex-row justify-start gap-1 border-[1px] dark:border-slate-300 dark:text-slate-300 rounded-sm m-0 p-[2px] text-xs leading-4">
        <img class="w-4 h-4" src="{{shield.img}}" alt="">
        <span class="grow">{{shield.name}}</span>
        <span><i class="icon-chest-armor mr-1"></i>{{shield.system.hitsStopped}}</span>
    </div>
    {{/if}}
    {{/each}}
</div>