<form class="{{cssClass}}" autocomplete="off">
    {{!-- {{log .}} --}}
    <div class="sheet-content">

        {{!-- Sheet Header --}}
        <header class="sheet-header">
            <div class="header-fields flex flex-row gap-1">
                <input class="name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                <div class="field w-12">
                    <label>{{localize "FT.character.sheet.label.ap"}}</label>
                    <input type="text" value="{{system.ap}}" readonly>
                </div>
                <div class="field w-28">
                    <label>{{localize "FT.character.sheet.label.xp"}}</label>
                    <input type="number" name="system.xp" value="{{system.xp}}" min="0">
                </div>
            </div>
        </header>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="stats">{{localize "FT.character.sheet.tab.stats"}}</a>
                <a class="item" data-tab="notes">{{localize "FT.character.sheet.tab.notes"}}</a>
                <a class="item" data-tab="talents">{{localize "FT.character.sheet.tab.talents"}}</a>
                <a class="item" data-tab="items">{{localize "FT.character.sheet.tab.items"}}</a>
                <a class="item" data-tab="spells">{{localize "FT.character.sheet.tab.spells"}}</a>
                {{#if effects}}
                <a class="item" data-tab="fx">{{localize "FT.character.sheet.tab.fx"}}</a>
                {{/if}}
            </nav>
            {{!-- Tab Contents --}}
            <div>
                {{!-- Character Tab --}}
                <div class="tab stats" data-group="primary" data-tab="stats">
                    {{> (concat FT.path "/templates/sheets/_character-stats.hbs")}}
                </div>
                {{!-- Notes Tab --}}
                <div class="tab notes" data-group="primary" data-tab="notes">
                    {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
                </div>
                {{!-- Talents Tab --}}
                <div class="tab talents" data-group="primary" data-tab="talents">
                    {{> (concat FT.path "/templates/sheets/_character-talents.hbs")}}
                </div>
                {{!-- Items Tab --}}
                <div class="tab items" data-group="primary" data-tab="items">
                    {{> (concat FT.path "/templates/sheets/_character-items.hbs")}}
                </div>
                {{!-- Spells Tab --}}
                <div class="tab spells" data-group="primary" data-tab="spells">
                    {{> (concat FT.path "/templates/sheets/_character-spells.hbs")}}
                </div>
                {{!-- Effects Tab --}}
                <div class="tab fx" data-group="primary" data-tab="fx">
                    {{> (concat FT.path "/templates/sheets/_character-effects.hbs")}}
                </div>
            </div>
        </section>
    </div>
</form>