<form class="{{cssClass}}" autocomplete="off">
    {{log .}}
    <div class="sheet-content">

        <!-- Sheet Heaader -->
        <header class="sheet-header">
            <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="header-fields">
                <input class="name" name="name" type="text" value="{{item.name}}" placeholder="Name" />
                <div class="flex flex-row justify-between font-bold uppercase mt-2">
                    <span>{{localize (concat "FT.item.type." item.type)}}</span>
                    <span>{{#if system.isContainer}}{{localize
                        "FT.item.sheet.label.container"}}{{/if}}</span>
                </div>
            </div>
        </header>

        <!-- Sheet Body -->
        <section class="sheet-body">
            <!-- Sheet Tab Navigation -->
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">{{localize
                    "FT.item.sheet.tab.description"}}</a>
                {{#if (eq item.type "equipment")}}
                <a class="item" data-tab="actions">{{localize
                    "FT.item.sheet.tab.actions"}}</i></a>
                {{/if}}
                <a class="item" data-tab="effects">{{localize
                    "FT.item.sheet.tab.effects"}}</i></a>
            </nav>
            {{!-- Settings Tab --}}
            <div class="tab" data-group="primary" data-tab="description">
                <div class="grid grid-cols-4 gap-1">
                    {{!-- Equipment --}}
                    {{#if (eq item.type "equipment")}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.cost"}}</label>
                        <input type="number" name="system.cost" value="{{system.cost}}" min="0">
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.wt"}}</label>
                        <input type="number" name="system.wt" value="{{system.wt}}" min="0">
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.qty"}}</label>
                        <input type="number" name="system.qty" value="{{system.qty}}" min="0">
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.capacity"}}</label>
                        <input type="number" name="system.capacity" value="{{system.capacity}}" min="0">
                    </div>
                    {{/if}}
                    {{!-- Talents & Spells --}}
                    {{#if (or (eq item.type "talent") (eq item.type "spell"))}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.minIQ"}}</label>
                        <input type="number" name="system.minIQ" value="{{system.minIQ}}" min="0">
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.iqCost"}}</label>
                        <input type="number" name="system.iqCost" value="{{system.iqCost}}" min="0">
                    </div>
                    {{/if}}
                    {{!-- Talents Only --}}
                    {{#if (eq item.type "talent")}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.defaultAttribute"}}</label>
                        <select name="system.defaultAttribute">
                            <option value="">{{localize 'FT.options.none'}}</option>
                            {{selectOptions selectOptions.attributes selected=system.defaultAttribute localize=true}}
                        </select>
                    </div>
                    {{/if}}
                    {{!-- Spells Only --}}
                    {{#if (eq item.type "spell")}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.type"}}</label>
                        <select name="system.type">
                            <option value="">{{localize 'FT.options.none'}}</option>
                            {{selectOptions selectOptions.spellTypes selected=system.type localize=true}}
                        </select>
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.stToCast"}}</label>
                        <input type="number" name="system.stToCast" value="{{system.stToCast}}" min="0">
                    </div>
                    {{/if}}
                </div>
                <div>{{editor system.notes target="system.notes" button=true owner=owner editable=editable}}</div>
            </div>
            {{!-- Actions Tab --}}
            <div class="tab" data-group="primary" data-tab="actions">
                <div class="flex flex-col gap-2">
                    {{!-- Attacks --}}
                    <fieldset class="flex flex-col gap-4 justify-start">
                        <legend>Attacks&nbsp;<i class="fa fa-plus-square" data-action="add-attack"></i></legend>
                        {{#each system.attacks as | attack |}}
                        <div class="grid grid-cols-4 gap-1">
                            <div class="field col-span-2">
                                <label>{{localize "FT.item.sheet.label.attackAction"}}</label>
                                <input type="text" name="system.attacks.{{@index}}.action" value="{{attack.action}}">
                            </div>
                            <div class="field">
                                <label>{{localize "FT.item.sheet.label.type"}}</label>
                                <select name="system.attacks.{{@index}}.type">
                                    <option value="">{{localize 'FT.options.none'}}</option>
                                    {{selectOptions ../selectOptions.attackTypes selected=attack.type localize=true}}
                                </select>
                            </div>
                            <div class="field">
                                <label>{{localize "FT.item.sheet.label.toHitMod"}}</label>
                                <input type="number" name="system.attacks.{{@index}}.toHitMod"
                                    value="{{attack.toHitMod}}">
                            </div>
                            <div class="field">
                                <label>{{localize "FT.item.sheet.label.baseDamage"}}</label>
                                <input type="text" name="system.attacks.{{@index}}.baseDamage"
                                    value="{{attack.baseDamage}}">
                            </div>
                            <div class="field">
                                <label>{{localize "FT.item.sheet.label.minST"}}</label>
                                <input type="number" name="system.attacks.{{@index}}.minST" value="{{attack.minST}}"
                                    min="0">
                            </div>
                            {{#if ../owned}}
                            <div class="field col-span-2">
                                <label>{{localize "FT.item.sheet.label.talent"}}</label>
                                <select name="system.attacks.{{@index}}.talent">
                                    <option value="">{{localize 'FT.options.unskilled'}}</option>
                                    {{selectOptions ../selectOptions.talents selected=attack.talent}}
                                </select>
                            </div>
                            {{/if}}
                        </div>
                        {{/each}}
                    </fieldset>
                    {{!-- Defenses --}}
                    <fieldset class="flex flex-col gap-4 justify-start">
                        <legend>Defenses&nbsp;<i class="fa fa-plus-square" data-action="add-defense"></i></legend>
                        {{#each system.defenses as | defense |}}
                        <div class="grid grid-cols-4 gap-1">
                            <div class="field col-span-2">
                                <label>{{localize "FT.item.sheet.label.defenseAction"}}</label>
                                <input type="text" name="system.defenses.{{@index}}.action" value="{{defense.action}}">
                            </div>
                            <div class="field">
                                <label>{{localize "FT.item.sheet.label.hitsStopped"}}</label>
                                <input type="number" name="system.defenses.{{@index}}.hitsStopped"
                                    value="{{defense.hitsStopped}}" min="0">
                            </div>
                        </div>
                        {{/each}}
                    </fieldset>
                </div>
            </div>
            {{!-- Effects Tab --}}
            <div class="tab" data-group="primary" data-tab="effects">
                {{> (concat FT.path "/templates/sheets/_item-effects.hbs")}}
            </div>
    </div>
    </section>
    </div>
</form>