<form class="{{cssClass}}" autocomplete="off">
    {{log .}}
    <div class="sheet-content">

        <!-- Sheet Heaader -->
        <header class="sheet-header">
            <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="header-fields">
                <input class="name" name="name" type="text" value="{{item.name}}" placeholder="Name" />
                <div class="flex flex-row justify-between font-bold uppercase mt-2">
                    <span>{{localize (concat "FT.item.type." item.type)}}</span>
                    {{#if item.system.type}}
                    <span>{{localize (concat "FT.item." item.type ".type." item.system.type)}}</span>
                    {{/if}}
                </div>
            </div>
        </header>

        <!-- Sheet Body -->
        <section class="sheet-body">
            <!-- Sheet Tab Navigation -->
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" title="Settings" data-tab="settings">{{localize
                    "FT.item.sheet.tab.settings"}}</a>
                <a class="item" title="Effects" data-tab="effects">{{localize
                    "FT.item.sheet.tab.effects"}}</i></a>
            </nav>
            {{!-- Settings Tab --}}
            <div class="tab" data-group="primary" data-tab="settings">
                <div class="grid grid-cols-4 gap-1">
                    {{!-- All inventory types --}}
                    {{#if (includes FT.item.inventory.types item.type)}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.cost"}}</label>
                        <input type="number" name="system.cost" value="{{system.cost}}" min="0">
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.wt"}}</label>
                        <input type="number" name="system.wt" value="{{system.wt}}" min="0">
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.qty"}}</label>
                        <input type="number" name="system.qty" value="{{system.qty}}" min="0">
                    </div>
                    {{/if}}
                    {{!-- Equipment --}}
                    {{#if (eq item.type "equipment")}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.capacity"}}</label>
                        <input type="number" name="system.capacity" value="{{system.capacity}}" min="0">
                    </div>
                    {{/if}}
                    {{!-- Weapons --}}
                    {{#if (eq item.type "weapon")}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.type"}}</label>
                        <select name="system.type">
                            <option value="">{{localize 'FT.options.none'}}</option>
                            {{selectOptions selectOptions.weaponTypes selected=system.type localize=true}}
                        </select>
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.minST"}}</label>
                        <input type="number" name="system.minST" value="{{system.minST}}" min="0">
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.damage"}}</label>
                        <input type="text" name="system.damage" value="{{system.damage}}" min="0">
                    </div>
                    {{#if owned}}
                    <div class="field col-span-2">
                        <label>{{localize "FT.item.sheet.label.talent"}}</label>
                        <select name="system.talent">
                            <option value="">{{localize 'FT.options.unskilled'}}</option>
                            {{selectOptions selectOptions.talents selected=system.talent}}
                        </select>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{!-- Armor --}}
                    {{#if (eq item.type "armor")}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.type"}}</label>
                        <select name="system.type">
                            <option value="">{{localize 'FT.options.none'}}</option>
                            {{selectOptions selectOptions.armorTypes selected=system.type localize=true}}
                        </select>
                    </div>
                    {{/if}}
                    {{!-- Armor & Shields --}}
                    {{#if (or (eq item.type "armor") (eq item.type "shield"))}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.hitsStopped"}}</label>
                        <input type="number" name="system.hitsStopped" value="{{system.hitsStopped}}" min="0">
                    </div>
                    {{/if}}
                    {{!-- Talents & Spells --}}
                    {{#if (or (eq item.type "talent") (eq item.type "spell"))}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.iq"}}</label>
                        <input type="number" name="system.iq" value="{{system.iq}}" min="0">
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.acquire"}}</label>
                        <input type="number" name="system.acquire" value="{{system.acquire}}" min="0">
                    </div>
                    {{/if}}
                    {{!-- Talents --}}
                    {{#if (eq item.type "talent")}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.defaultAttribute"}}</label>
                        <select name="system.defaultAttribute">
                            <option value="">{{localize 'FT.options.none'}}</option>
                            {{selectOptions selectOptions.attributes selected=system.defaultAttribute localize=true}}
                        </select>
                    </div>
                    {{/if}}
                    {{!-- Spells --}}
                    {{#if (eq item.type "spell")}}
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.type"}}</label>
                        <select name="system.type">
                            <option value="">{{localize 'FT.options.none'}}</option>
                            {{selectOptions selectOptions.spellTypes selected=system.type localize=true}}
                        </select>
                    </div>
                    <div class="field">
                        <label>{{localize "FT.item.sheet.label.stToCast"}}</label>
                        <input type="number" name="system.stToCast" value="{{system.stToCast}}" min="0">
                    </div>
                    {{/if}}
                </div>
                <div>{{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{!-- Effects Tab --}}
            <div class="tab" data-group="primary" data-tab="effects">
                {{> (concat FT.path "/templates/sheets/_item-effects.hbs")}}
            </div>
    </div>
    </section>
    </div>
</form>