<form class="{{cssClass}}" autocomplete="off">
    {{log .}}
    <div class="sheet-content npc">

        {{!-- Sheet Header --}}
        <header class="sheet-header">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            <div class="header-fields flex flex-row gap-1">
                <input class="name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                {{!-- <div class="field w-12">
                    <label>{{localize "FT.character.sheet.label.ap"}}</label>
                    <input type="text" value="{{system.ap}}" readonly>
                </div>
                <div class="field w-28">
                    <label>{{localize "FT.character.sheet.label.xp"}}</label>
                    <input type="number" name="system.xp" value="{{system.xp}}" min="0">
                </div> --}}
            </div>
        </header>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="character">{{localize "FT.character.sheet.tab.character"}}</a>
            <a class="item" data-tab="notes">{{localize "FT.character.sheet.tab.notes"}}</a>
            <a class="item" data-tab="items">{{localize "FT.character.sheet.tab.items"}}</a>
            {{#if effects}}
            <a class="item" data-tab="fx">{{localize "FT.character.sheet.tab.fx"}}</a>
            {{/if}}
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Character Tab --}}
            <div class="tab character" data-group="primary" data-tab="character">
                <div class="flex flex-col gap-2">
                    {{!-- Stats --}}
                    {{> (concat FT.path "/templates/sheets/_npc-stats.hbs")}}
                    {{!-- Status --}}
                    {{> (concat FT.path "/templates/sheets/_npc-status.hbs")}}
                    {{!-- Action/Combat --}}
                    {{> (concat FT.path "/templates/sheets/_npc-action.hbs")}}
                </div>
            </div>
            {{!-- Notes Tab --}}
            <div class="tab notes" data-group="primary" data-tab="notes">
                {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
            </div>
            {{!-- Items Tab --}}
            <div class="tab items" data-group="primary" data-tab="items">
                {{> (concat FT.path "/templates/sheets/_npc-items.hbs")}}
            </div>
            {{!-- Effects Tab --}}
            <div class="tab fx" data-group="primary" data-tab="fx">
                {{> (concat FT.path "/templates/sheets/_character-effects.hbs")}}
            </div>
        </section>
    </div>
</form>