<div class="flex flex-col gap-2 justify-between">
    {{!-- {{log .}} --}}

    {{!-- Roll Icons --}}
    <div class="flex flex-row gap-4">
        <img class="w-16 h-16" src="{{actor.img}}" alt="{{actor.name}}" title="{{actor.name}}">
        {{#if talent}}
        <img class=" w-16 h-16" src="{{talent.img}}" alt="{{talent.name}}" title="{{talent.name}}">
        {{/if}}
        {{#if spell}}
        <img class=" w-16 h-16" src="{{spell.img}}" alt="{{spell.name}}" title="{{spell.name}}">
        {{/if}}
        {{#if item}}
        <img class=" w-16 h-16" src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}">
        {{/if}}
    </div>

    {{!-- Roll Type --}}
    <div class="grid grid-cols-5 gap-1">
        {{#each FT.roll.types as |label type|}}
        <span>
            <input type="radio" name="type" id="type-{{type}}" value="{{type}}" {{#if (eq ../type type)}}checked{{/if}}
                disabled>
            <label for="type-{{type}}">{{localize label}}</label>
        </span>
        {{/each}}
    </div>

    {{#unless (eq type "damage")}}

    {{!-- Attribute --}}
    <div class="grid grid-flow-col grid-rows-2 gap-1">
        {{#each (array "st.max" "st.value" "dx.max" "dx.value" "iq.max" "iq.value") as | attribute |}}
        <span>
            <input type="checkbox" name="attributes" id="attribute-{{attribute}}" value="{{attribute}}" {{#if (eq
                ../attribute attribute)}}checked{{/if}}>
            <label for="attribute-{{attribute}}">{{localize (concat "FT.actor.attribute."
                attribute)}}&nbsp;{{property ../actor.system attribute}}</label>
        </span>
        {{/each}}
    </div>

    {{!-- Spell Strength --}}
    {{#if (eq type "cast")}}
    <div class="grid grid-cols-16 gap-1">
        <label class="text-xs col-span-3">{{localize "FT.system.roll.cost.st"}}</label>
        {{#each (range spell.system.stToCast.min spell.system.stToCast.max) as | value |}}
        <span>
            <input type="radio" name="cost.st.value" id="cost-st-{{value}}" value="{{value}}" {{#if (eq value
                ../cost.st.value)}}checked{{/if}}>
            <label for="cost-st-{{value}}">{{numberFormat value}}</label> </span>
        {{/each}}
    </div>
    {{/if}}

    {{!-- Modifiers --}}
    {{#each modifiers as | modifier name|}}
    <div class="grid grid-cols-16 gap-1">
        <label class="text-xs col-span-3">{{localize (concat "FT.system.roll.modifier."
            name)}}{{#if modifier.note}}&thinsp;({{modifier.note}}){{/if}}</label>
        {{#each (range modifier.min modifier.max) as | set |}}
        <span>
            <input type="radio" name="modifiers.{{name}}" id="modifiers-{{name}}-{{set}}" value="{{set}}" {{#if (eq
                modifier.value set)}}checked{{/if}}>
            <label for="modifiers-{{name}}-{{set}}">{{numberFormat set sign=true}}</label>
        </span>
        {{/each}}
    </div>
    {{/each}}

    {{!-- Dice --}}
    <div class="grid grid-cols-8 gap-1">
        {{#each (range 1 8) as | dice |}}
        <span>
            <input type="radio" name="dice" id="dice-{{dice}}" value="{{dice}}" {{#if (eq ../dice dice)}}checked{{/if}}>
            <label for="dice-{{dice}}" title="{{dice}}D6">{{dice}}&thinsp;<i class="icon-d6 !w-6 !h-6"></i></label>
        </span>
        {{/each}}
    </div>

    {{else}}

    {{!-- Damage Formula --}}
    <div class="w-full flex flex-row gap-1 justify-between">
        <div class="field w-24">
            <label>{{localize "FT.app.dice.label.formula"}}</label>
            <input type="text" name="formula" value="{{formula}}">
        </div>
        <div class="field w-16">
            <label>{{localize "FT.app.dice.label.minimum"}}</label>
            <input type="number" name="minimum" value="{{minimum}}" min="0">
        </div>
        <div class="field w-16">
            <label>{{localize "FT.app.dice.label.multiplier"}}</label>
            <input type="number" name="multiplier" value="{{multiplier}}" min="1">
        </div>
        <div class="field grow">
            <label>{{localize "FT.game.setting.damageMultiplierStrategy.name"}}</label>
            <select name="damageMultiplierStrategy">
                {{selectOptions FT.settings.damageMultiplierStrategy.options selected=damageMultiplierStrategy
                localize=true }}
            </select>
        </div>
    </div>

    {{/unless}}

    {{!-- Roll Mode --}}
    <div class="grid grid-cols-5 gap-1">
        {{#each (array "roll" "publicroll" "gmroll" "blindroll" "selfroll" ) as | rollMode |}}
        <span>
            <input type="radio" name="rollMode" id="rollMode-{{rollMode}}" value="{{rollMode}}" {{#if (eq ../rollMode
                rollMode)}}checked{{/if}}>
            <label for="rollMode-{{rollMode}}">{{localize (concat "FT.game.rollMode." rollMode)}}</label>
        </span>
        {{/each}}
    </div>

    {{!-- Buttons --}}
    <div class="flex flex-row justify-end gap-4 mt-4">
        <button type="cancel" value="cancel"><i class="fa fa-times-circle"></i>{{localize
            "FT.app.dice.action.cancel"}}</button>
        <button type="submit" form="ft-dice-roller" value="submit"><i class="fa fa-dice"></i>{{localize
            "FT.app.dice.action.submit"}}</button>
    </div>

</div>