<div class="flex flex-col gap-2 justify-between">
    {{log .}}
    <div class="flex flex-row gap-4">
        <img class="w-16 h-16" src="{{actor.img}}" alt="{{actor.name}}" title="{{actor.name}}">
        {{#if item}}
        <img class=" w-16 h-16" src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}">
        {{/if}}
        {{#if (and actor.inCombat targets)}}
        <div class="grid grid-flow-col grid-rows-2 gap-2 m-0 p-0">
            {{#each targets as |target|}}
            <img class="w-7 h-7" src="{{target.actor.img}}" alt="{{target.name}}" title="{{target.name}}">
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{!-- Roll Type --}}
    <div class="grid grid-cols-6 gap-1">
        {{#each FT.roll.types as |label type|}}
        <a class="border-[1px] p-1 text-center {{#if (eq ../type type)}}selected{{/if}}" data-action="select-roll-type"
            data-type="{{type}}">{{localize label}}</a>
        {{/each}}
    </div>
    {{!-- Attribute --}}
    {{#unless (eq type "damage")}}
    <div class="grid grid-flow-col grid-rows-2 gap-1">
        {{#each (array "st.max" "st.value" "dx.max" "dx.value" "iq.max" "iq.value")}}
        <a class="border-[1px] p-1 text-center {{#if (eq ../attribute .)}}selected{{/if}}"
            data-action="select-attribute" data-attribute="{{.}}">{{localize (concat "FT.system.roll.attribute."
            .)}}</a>
        {{/each}}
    </div>
    {{/unless}}
    {{!-- Modifier --}}
    <div class="grid grid-cols-11 gap-1">
        {{#each (range -5 5)}}
        <a class="border-[1px] p-1 text-center {{#if (eq ../modifier .)}}selected{{/if}}" data-action="select-modifier"
            data-modifier="{{.}}">{{.}}</a>
        {{/each}}
    </div>
    {{!-- Dice --}}
    <div class="grid grid-cols-8 gap-1">
        {{#each (range 1 8)}}
        <a class="border-[1px] text-center" data-action="select-dice" data-dice="{{.}}"><i
                class="icon-d6 !w-8 !h-8 m-0 p-1 {{#unless (gte ../dice .)}}faded{{/unless}}"></i></a>
        {{/each}}
    </div>
    {{#if (eq type "attack")}}
    <div class="grid grid-cols-2 gap-1">
        {{!-- <div class="grid grid-cols-2">
            <fieldset>
                <legend>Range</legend>
                <input type="radio" name="range" id="short"><label for="short">Short</label>
            </fieldset>
        </div> --}}
    </div>
    {{/if}}
    {{!-- Visibility --}}
    <div class="grid grid-cols-5 gap-1">
        {{#each (array "roll" "publicroll" "gmroll" "blindroll" "selfroll" ) as |visibility|}}
        <a class="border-[1px] p-1 text-center {{#if (eq ../visibility visibility)}}selected{{/if}}"
            data-action="select-visibility" data-visibility="{{visibility}}">{{localize
            (concat
            "FT.game.roll.visibility." .)}}</a>
        {{/each}}
    </div>
    <div class="flex flex-row gap-2 mt-6">
        <button data-action="cancel">Cancel</button>
        <button data-action="roll">Roll</button>
    </div>
</div>