{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="character">{{localize "FT.actor.sheet.tab.character"}}</a>
    <a class="item" data-tab="notes">{{localize "FT.actor.sheet.tab.notes"}}</a>
    <a class="item" data-tab="talents">{{localize "FT.actor.sheet.tab.talents"}}</a>
    <a class="item" data-tab="inventory">{{localize "FT.actor.sheet.tab.inventory"}}</a>
    <a class="item" data-tab="spells">{{localize "FT.actor.sheet.tab.spells"}}</a>
    <a class="item" data-tab="effects">{{localize "FT.actor.sheet.tab.effects"}}</a>
</nav>