{{!-- {{log system}} --}}
<div class="flex flex-col gap-1">
    {{!-- Encumbrance --}}
    <div class="grid grid-cols-8 gap-1 text-xs text-center">
        <span class="border-[1px] rounded-none m-0 p-0 bg-slate-200"
            title="{{localize 'FT.character.sheet.label.encumbrance'}}">
            <i class="icon-knapsack"></i>
        </span>
        {{#each system.encumbrance.capacity as |capacity|}}
        <span
            class="border-[1px] rounded-none m-0 p-0 {{lookup ../FT.character.tracks.encumbrance.colors @index}}{{#unless (eq @index ../system.encumbrance.level)}}-50{{else}}-500{{/unless}}"
            title="{{localize (concat 'FT.character.sheet.label.encumbranceLevel.' @index)}}">
            {{numberFormat capacity decimals=0}}&thinsp;{{localize 'FT.character.sheet.table.items.unit'}}
        </span>
        {{/each }}
    </div>

    {{!-- Fatigue & Damage --}}
    <div class="grid grid-cols-8 gap-1 text-xs text-center">
        <span class="border-[1px] rounded-none m-0 p-0 bg-slate-200"
            title="{{localize 'FT.character.sheet.label.health'}}">
            <i class="icon-death-skull"></i>
        </span>
        <span class="col-span-7 border-[1px] rounded-none m-0 p-0 flex flex-row gap-0">
            {{#each (range system.damage)}}
            <span class="grow {{../FT.character.tracks.damage.color}}"
                title="{{localize 'FT.character.sheet.label.damage'}}"></span>
            {{/each}}
            {{#each (range system.fatigue)}}
            <span class="grow {{../FT.character.tracks.fatigue.color}}"
                title="{{localize 'FT.character.sheet.label.fatigue'}}"></span>
            {{/each}}
            {{#each (range system.st.value)}}
            <span class="grow bg-transparent"></span>
            {{/each}}
        </span>
    </div>

    {{!-- Staff Mana (if a wizard) --}}
    {{#if (eq system.type "wizard")}}
    <div class="grid grid-cols-8 gap-1 text-xs text-center">
        <span class="border-[1px] rounded-none m-0 p-0 bg-slate-200"
            title="{{localize 'FT.character.sheet.label.mana'}}">
            <i class="icon-wizard-staff"></i>
        </span>
        <span class="col-span-7 border-[1px] rounded-none m-0 p-0 flex flex-row gap-0">
            {{#each (range system.mana.value)}}
            <span class="grow {{../FT.character.tracks.mana.color}}"></span>
            {{/each}}
            {{#each (range system.mana.used)}}
            <span class="grow bg-transparent"></span>
            {{/each}}
        </span>
    </div>
    {{/if}}

    {{!-- Damage, Fatigue and stats modifiers --}}
    <div class="flex flex-row gap-1 text-xs text-center">
        <div class="field"><label>{{localize "FT.character.sheet.label.fatigue"}}</label><input type="number"
                name="system.fatigue" value="{{system.fatigue}}" min="0"></div>
        <div class="field"><label>{{localize "FT.character.sheet.label.damage"}}</label><input type="number"
                name="system.damage" value="{{system.damage}}" min="0"></div>
        {{#if (eq system.type "wizard")}}
        {{!-- TODO Why does this input having a min cause the value to vanish?? --}}
        <div class="field"><label>{{localize "FT.character.sheet.label.mana"}}</label><input type="number"
                name="system.mana.value" value="{{system.mana.value}}" max="{{system.mana.max}}">
        </div>
        {{/if}}
        <div class="field"><label>{{localize "FT.character.sheet.label.stMod"}}</label><input type="number"
                name="system.st.mod" value="{{system.st.mod}}">
        </div>
        <div class="field"><label>{{localize "FT.character.sheet.label.dxMod"}}</label><input type="number"
                name="system.dx.mod" value="{{system.dx.mod}}">
        </div>
        <div class="field"><label>{{localize "FT.character.sheet.label.iqMod"}}</label><input type="number"
                name="system.iq.mod" value="{{system.iq.mod}}">
        </div>
        <div class="field"><label>{{localize "FT.character.sheet.label.maMod"}}</label><input type="number"
                name="system.ma.mod" value="{{system.ma.mod}}">
        </div>
        <div class="field"><label>{{localize
                "FT.character.sheet.label.initiative"}}</label><input type="number" name="system.initiative.situation"
                value="{{system.initiative.situation}}">
        </div>
    </div>
</div>