{{!-- Type, Race, Job --}}
<div class="grid grid-cols-5 gap-1 m-0 p-0">
    <div class="field col-span-2">
        <label>{{localize "FT.character.sheet.label.type"}}</label>
        <select name="system.type">
            {{selectOptions FT.character.types selected=system.type localize=true
            }}
        </select>
    </div>
    <div class="field col-span-2">
        <label>{{localize "FT.character.sheet.label.race"}}</label>
        <input type="text" name="system.race" value="{{system.race}}" list="race">
        <datalist id="race">
            {{#each FT.character.races}}
            <option value="{{localize .}}">{{localize .}}</option>
            {{/each}}
        </datalist>
    </div>
    <div class="field">
        <label>{{localize "FT.character.sheet.label.age"}}</label>
        <input type="number" name="system.age" value="{{system.age}}" min="16">
    </div>
    <div class="field col-span-2">
        <label>{{localize "FT.character.sheet.label.job"}}</label>
        <input type="text" name="system.job.name" value="{{system.job.name}}">
    </div>
    <div class="field">
        <label>{{localize "FT.character.sheet.label.pay"}}</label>
        <input type="number" name="system.job.pay" value="{{system.job.pay}}">
    </div>
    <div class="field col-span-2">
        <label>{{localize "FT.character.sheet.label.risk"}}</label>
        <div class="grid grid-cols-2 gap-1">
            <input type="number" name="system.job.risk.low" value="{{system.job.risk.low}}" min=" 3" max="11">
            <input type="number" name="system.job.risk.high" value="{{system.job.risk.high}}" min="12" max="18">
        </div>
    </div>
</div>
{{!-- Attributes --}}
<div class="flex flex-row gap-1 justify-between m-0 my-1 p-0">
    <div class="flex flex-col gap-1">
        {{!-- Attribute Partial --}}
        {{#*inline "attribute"}}
        <div class="flex flex-row gap-1 justify-start" data-attribute="{{key}}">
            <label
                class="m-0 p-1 bg-black text-white dark:bg-white dark:text-black text-xl text-center uppercase min-w-10 rounded-none">{{localize
                (concat "FT.character.attribute." key ".max")}}</label>
            <div class="flex flex-row gap-0">
                <input class="m-0 !text-center !text-xl !h-full !w-14" type="number" name="system.{{key}}.max"
                    value="{{attr.max}}" />
                <a class="block m-0 p-1 border-y-[1px] border-r-[1px] action" data-action="attribute-roll"
                    data-attribute="{{key}}.max" data-type="success"><i class="icon-d6 text-xl"></i></a>
            </div>
            <div class="field w-14">
                <label>{{localize "FT.character.sheet.label.adjusted"}}</label>
                {{#if roll}}
                <div class="flex flex-row gap-0">
                    <input class="m-0 w-14 !text-center" type="text" value="{{attr.value}}" readonly />
                    <a class="block m-0 p-1 border-y-[1px] border-r-[1px] action" data-action="attribute-roll"
                        data-attribute="{{key}}.value" data-type="success"><i class="icon-d6"></i></a>
                </div>
                {{else}}
                <input class="m-0 w-14 !text-center" type="text" value="{{attr.value}}" readonly />
                {{/if}}
            </div>
        </div>
        {{/inline}}
        {{!-- Attribute Block --}}
        {{> attribute key="st" attr=system.st roll=true}}
        {{> attribute key="dx" attr=system.dx roll=true}}
        {{> attribute key="iq" attr=system.iq roll=true}}
        {{> attribute key="ma" attr=system.ma}}
    </div>
    {{!-- <div class="flex flex-col gap-1 justify-between w-full">
        <span class="text-xs text-center mx-1 action" data-action="A">A</span>
        <span class="text-xs text-center mx-1 action" data-action="A">B</span>
        <span class="text-xs text-center mx-1 action" data-action="A">C</span>
        <span class="text-xs text-center mx-1 action" data-action="A">D</span>
        <span class="text-xs text-center mx-1 action" data-action="A">E</span>
        <span class="text-xs text-center mx-1 action" data-action="A">F</span>
        <span class="text-xs text-center mx-1 action" data-action="A">G</span>
    </div> --}}
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
</div>