{{!-- Spells Tab --}}
<div class="tab spells" data-group="primary" data-tab="spells">
    {{#*inline "actions"}}
    <td class="shrink">
        <a class="document-chat" title="{{localize 'FT.character.sheet.button.chat'}}"><i class="fa fa-comment"></i></a>
        <a class="document-edit" title="{{localize 'FT.character.sheet.button.edit'}}"><i class="fas fa-edit"></i></a>
        <a class="document-delete" title="{{localize 'FT.character.sheet.button.delete'}}"><i
                class="fas fa-trash"></i></a>
    </td>
    {{/inline}}

    {{#if spells}}
    <table>
        <thead>
            <tr>
                {{#if settings.showItemIcons}}<th></th>{{/if}}
                <th class="w-full">{{localize 'FT.character.sheet.table.spells.name'}}</th>
                <th>{{localize 'FT.character.sheet.table.spells.type'}}</th>
                <th>{{localize 'FT.character.sheet.table.spells.iq'}}</th>
                <th>{{localize 'FT.character.sheet.table.spells.cost'}}</th>
                <th>{{localize 'FT.character.sheet.table.spells.st'}}</th>
                <th></th>
                <th><a class="document-create" data-type="spell"
                        title="{{localize 'FT.character.sheet.button.create'}}"><i class="fa fa-plus"></i></a></th>
            </tr>
        </thead>
        {{#each (sort spells 'name') as |spell|}}
        <tr data-item-id="{{spell._id}}">
            {{#if ../settings.showItemIcons}}
            <td><img src="{{spell.img}}" /> </td>
            {{/if}}
            <td>{{spell.name}}</td>
            <td>{{#if spell.system.type}}{{localize (concat "FT.item.spell.typeAbbr." spell.system.type)}}{{/if}}</td>
            <td>{{spell.system.minIQ}}</td>
            <td>{{spell.system.actualIQCost}}</td>
            {{#if (eq spell.system.stToCast.min spell.system.stToCast.max)}}
            <td>{{spell.system.stToCast.min}}</td>
            {{else}}
            <td>{{spell.system.stToCast.min}}-{{spell.system.stToCast.max}}</td>
            {{/if}}
            <td>
                {{#if spell.system.isReady}}
                <a class="px-[2px] action" data-action="cancel-spell">{{localize
                    "FT.character.sheet.button.cancel"}}</a>
                {{else if spell.system.type}}
                <a class="px-[2px] action" data-action="cast-spell">{{localize "FT.character.sheet.button.cast"}}</a>
                {{/if}}
            </td>
            {{> actions}}
        </tr>
        {{/each}}
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td class="!text-center">{{system.totalIQCost.spells}}</td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
    {{/if}}
</div>