{{!-- {{log .}} --}}
<div class="message-content">
    <div class="dice-roll">
        <div class="dice-result">
            {{!-- Roll Formula --}}
            <div class="dice-formula">{{roll.formula}}</div>
            <div class="dice-tooltip">
                {{!-- Roll Modifier Summary --}}
                <section class="tooltip-part">
                    <div class="mb-2">
                        <header class="part-header flexrow">
                            <span class="part-formula">{{attributes}}</span>
                            <span class="part-total">{{totalAttributes}}</span>
                        </header>
                        <ol class="modifiers list-none !p-0">
                            {{#each modifiers as | value modifier|}}
                            <li class="flex flex-row justify-between px-[5px]">
                                <span>{{localize (concat "FT.system.roll.modifier." modifier)}}</span>
                                <span>{{numberFormat value sign=true}}</span>
                            </li>
                            {{/each}}
                            <li class="flex flex-row justify-between px-[5px] font-bold">
                                <span>{{localize "FT.system.roll.targetNumber"}}</span>
                                <span>{{targetNumber}}</span>
                            </li>
                            {{#if unskilled}}
                            <li class="flex flex-row justify-between px-[5px]">
                                <span>{{localize "FT.system.roll.modifier.unskilled"}}</span>
                                <span>{{roll.formula}}</span>
                            </li>
                            {{/if}}
                        </ol>
                    </div>
                </section>
                {{!-- Normal Foundry Dice Result Display --}}
                {{#each parts}}
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            {{#if icon}}
                            <span class="part-method" data-tooltip="{{ method }}" aria-label="{{ localize method }}">
                                {{{ icon }}}
                            </span>
                            {{/if}}
                            <span class="part-formula">{{this.formula}}</span>
                            {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
                            <span class="part-total">{{this.total}}</span>
                        </header>
                        <ol class="dice-rolls">
                            {{#each this.rolls}}
                            <li class="roll {{this.classes}}">{{{this.result}}}</li>
                            {{/each}}
                        </ol>
                    </div>
                </section>
                {{/each}}
            </div>
            {{!-- Roll Total --}}
            <h4 class="dice-total {{classes}}">{{roll.total}}</h4>
        </div>
    </div>
    {{#if (and (eq type "attack") success)}}
    <button class="!mt-4" data-ft-action="damage-roll" data-token-id="{{token._id}}" data-actor-id="{{actor._id}}"
        data-item-id="{{item._id}}" data-attack-index="{{attackIndex}}" data-multiplier="{{multiplier}}">{{localize
        "FT.chat.button.rollDamage"}}</button>
    {{/if}}
</div>