{{!-- {{log .}} --}}
<div class="message-content">
    <div class="dice-roll" data-action="expandRoll">
        <div class="dice-result">
            {{!-- Roll Formula --}}
            <div class="dice-formula">{{roll.formula}}</div>
            <div class="dice-tooltip">
                <div class="wrapper">
                    <section class="tooltip-part">
                        {{!-- Roll Modifier Summary --}}
                        <div class="mb-2">
                            <header class="part-header flexrow">
                                <span class="part-formula">{{attributes}}</span>
                                <span class="part-total">{{totalAttributes}}</span>
                            </header>
                            <ol class="modifiers list-none !p-0">
                                {{#each modifiers as | value modifier|}}
                                <li class="flex flex-row justify-between px-[5px]">
                                    <span>{{localize (concat "FT.system.roll.modifier." modifier)}}</span>
                                    <span>{{numberFormat value sign=true}}</span>
                                </li>
                                {{/each}}
                                <li class="flex flex-row justify-between px-[5px] font-bold">
                                    <span>{{localize "FT.system.roll.targetNumber"}}</span>
                                    <span>{{targetNumber}}</span>
                                </li>
                                {{#if unskilled}}
                                <li class="flex flex-row justify-between px-[5px]">
                                    <span>{{localize "FT.system.roll.modifier.unskilled"}}</span>
                                    <span>{{roll.formula}}</span>
                                </li>
                                {{/if}}
                            </ol>
                        </div>
                        {{!-- Normal Foundry Dice Result Display --}}
                        {{#each parts}}
                        <div class="dice">
                            <header class="part-header flexrow">
                                {{#if icon}}
                                <span class="part-method" data-tooltip aria-label="{{ localize method }}">
                                    {{{ icon }}}
                                </span>
                                {{/if}}
                                <span class="part-formula">{{this.formula}}</span>
                                {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
                                <span class="part-total">{{this.total}}</span>
                            </header>
                            <ol class="dice-rolls">
                                {{#each this.rolls}}
                                <li class="roll {{this.classes}}">{{{this.result}}}</li>
                                {{/each}}
                            </ol>
                        </div>
                        {{/each}}
                    </section>
                </div>

            </div>
            {{!-- Roll Total --}}
            <h4 class="dice-total {{resultClass}}">{{roll.total}}</h4>
        </div>
    </div>
    {{#if showDamageButton}}
    <button class="!mt-4 ft-restricted ft-show-gm {{showOwnerClasses}}" data-ft-action="damage-roll"
        data-token-id="{{token._id}}" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
        data-attack-index="{{attackIndex}}" data-multiplier="{{multiplier}}"><i
            class="icon-sword-brandish mr-2"></i>{{localize
        "FT.system.combat.chat.button.rollDamage"}}</button>
    {{/if}}
</div>