{{!-- Actions Tab --}}
<div class="tab" data-group="primary" data-tab="actions">
    <div class="flex flex-col gap-2">
        {{!-- Attacks --}}
        <fieldset class="flex flex-col gap-4 justify-start">
            <legend>{{localize "FT.item.sheet.label.attacks"}}&nbsp;<i class="fa fa-plus-square"
                    data-action="add-attack"></i></legend>
            {{#each system.attacks as | attack |}}
            <div class="grid grid-cols-4 gap-1">
                <div class="field col-span-2">
                    <label>{{localize "FT.item.sheet.label.attackAction"}}</label>
                    <div class="flex flex-row gap-0">
                        <span class="block m-0 p-1 h-6 border-y-[1px] border-l-[1px] text-xs"
                            data-action="delete-attack" data-index="{{@index}}"><i class="fas fa-trash"></i></span>
                        <input class="!rounded-l-none" type="text" name="system.attacks.{{@index}}.action"
                            value="{{attack.action}}">
                    </div>
                </div>
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.type"}}</label>
                    <select name="system.attacks.{{@index}}.type">
                        <option value="">{{localize 'FT.options.none'}}</option>
                        {{selectOptions ../selectOptions.attackTypes selected=attack.type localize=true}}
                    </select>
                </div>
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.toHitMod"}}</label>
                    <input type="number" name="system.attacks.{{@index}}.toHitMod" value="{{attack.toHitMod}}">
                </div>
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.baseDamage"}}</label>
                    <input type="text" name="system.attacks.{{@index}}.baseDamage" value="{{attack.baseDamage}}">
                </div>
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.minST"}}</label>
                    <input type="number" name="system.attacks.{{@index}}.minST" value="{{attack.minST}}" min="0">
                </div>
                {{#if ../owned}}
                <div class="field col-span-2">
                    <label>{{localize "FT.item.sheet.label.talent"}}</label>
                    <select name="system.attacks.{{@index}}.talent">
                        <option value="">{{localize 'FT.options.unskilled'}}</option>
                        {{selectOptions ../selectOptions.talents selected=attack.talent}}
                    </select>
                </div>
                {{/if}}
            </div>
            {{/each}}
        </fieldset>
        {{!-- Defenses --}}
        <fieldset class="flex flex-col gap-4 justify-start">
            <legend>{{localize "FT.item.sheet.label.defenses"}}&nbsp;<i class="fa fa-plus-square"
                    data-action="add-defense"></i></legend>
            {{#each system.defenses as | defense |}}
            <div class="grid grid-cols-4 gap-1">
                <div class="field col-span-2">
                    <label>{{localize "FT.item.sheet.label.defenseAction"}}</label>
                    <div class="flex flex-row gap-0">
                        <span class="block m-0 p-1 h-6 border-y-[1px] border-l-[1px] text-xs"
                            data-action="delete-defense" data-index="{{@index}}"><i class="fas fa-trash"></i></span>
                        <input class="!rounded-l-none" type="text" name="system.defenses.{{@index}}.action"
                            value="{{defense.action}}">
                    </div>
                </div>
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.hitsStopped"}}</label>
                    <input type="number" name="system.defenses.{{@index}}.hitsStopped" value="{{defense.hitsStopped}}"
                        min="0">
                </div>
            </div>
            {{/each}}
        </fieldset>
    </div>
</div>