{{!-- Actions Tab --}}
<section id="{{partId}}" class="tab {{tabs.actions.cssClass}}" data-group="primary" data-tab="actions">
    <div class="flex flex-col gap-2">
        {{!-- Attacks --}}
        <fieldset class="flex flex-col gap-4 justify-start">
            <legend>{{localize "FT.item.sheet.label.attacks"}}&nbsp;<a data-action="addAttack"> <i
                        title="{{localize 'FT.item.sheet.action.addAction'}}" class="fa fa-plus-square"></i> </a>
            </legend>
            {{#each system.attacks as | attack |}}
            <div class="grid grid-cols-5 gap-1">
                <div class="field col-span-2">
                    <label>{{localize "FT.item.sheet.label.attackAction"}}</label>
                    <div class="flex flex-row gap-0">
                        <a title="{{localize 'FT.item.sheet.action.deleteAction'}}"
                            class="block m-0 p-1 h-6 border-y-[1px] border-l-[1px] text-xs" data-action="deleteAttack"
                            data-index="{{@index}}"><i class="fas fa-trash"></i></a>
                        <input class="!rounded-l-none" type="text" name="system.attacks.{{@index}}.action"
                            value="{{attack.action}}">
                    </div>
                </div>
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.type"}}</label>
                    <select name="system.attacks.{{@index}}.type">
                        <option value="">{{localize 'FT.options.none'}}</option>
                        {{selectOptions ../selectOptions.attackTypes selected=attack.type localize=true}}
                    </select>
                </div>
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.toHitMod"}}</label>
                    <input type="number" name="system.attacks.{{@index}}.toHitMod" value="{{attack.toHitMod}}">
                </div>
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.baseDamage"}}</label>
                    <input type="text" name="system.attacks.{{@index}}.baseDamage" value="{{attack.baseDamage}}">
                </div>
                {{!-- If equipment, there's a min ST to use --}}
                {{#if (eq ../item.type "equipment")}}
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.minST"}}</label>
                    <input type="number" name="system.attacks.{{@index}}.minST" value="{{attack.minST}}" min="0">
                </div>
                {{!-- If owned equipment, there may be a talent required --}}
                {{#if ../owned}}
                <div class="field col-span-2">
                    <label>{{localize "FT.item.sheet.label.talent"}}</label>
                    <select name="system.attacks.{{@index}}.talent">
                        <option value="">{{localize 'FT.options.unskilled'}}</option>
                        {{selectOptions ../selectOptions.talents selected=attack.talent}}
                    </select>
                </div>
                {{/if}}
                {{/if}}
                <div class="field col-span-full">
                    <label>{{localize "FT.item.sheet.label.effects"}}</label>
                    <textarea name="system.attacks.{{@index}}.effects" rows="3"
                        class="leading-4">{{attack.effects}}</textarea>
                </div>
            </div>
            {{/each}}
        </fieldset>
        {{!-- Defenses --}}
        <fieldset class="flex flex-col gap-1 justify-start">
            <legend>{{localize "FT.item.sheet.label.defenses"}}&nbsp;<a data-action="addDefense"> <i
                        title="{{localize 'FT.item.sheet.action.addAction'}}" class="fa fa-plus-square"></i> </a>
            </legend>
            {{#each system.defenses as | defense |}}
            <div class="grid grid-cols-4 gap-1">
                <div class="field col-span-2">
                    <label>{{localize "FT.item.sheet.label.defenseAction"}}</label>
                    <div class="flex flex-row gap-0">
                        <a title="{{localize 'FT.item.sheet.action.deleteAction'}}"
                            class="block m-0 p-1 h-6 border-y-[1px] border-l-[1px] text-xs" data-action="deleteDefense"
                            data-index="{{@index}}"><i class="fas fa-trash"></i></a>
                        <input class="!rounded-l-none" type="text" name="system.defenses.{{@index}}.action"
                            value="{{defense.action}}">
                    </div>
                </div>
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.hitsStopped"}}</label>
                    <input type="number" name="system.defenses.{{@index}}.hitsStopped" value="{{defense.hitsStopped}}"
                        min="0">
                </div>
            </div>
            {{/each}}
        </fieldset>
        {{!-- Spells --}}
        {{#if (eq item.type "equipment")}}
        <fieldset class="flex flex-col gap-1 justify-start">
            <legend>{{localize "FT.item.sheet.label.spells"}}&nbsp;<a data-action="addSpell"> <i
                        title="{{localize 'FT.item.sheet.action.addAction'}}" class="fa fa-plus-square"></i> </a>
            </legend>
            {{#each system.spells as | spell |}}
            <div class="grid grid-cols-3 gap-1">
                <div class="field col-span-2">
                    <label>{{localize "FT.item.sheet.label.name"}}</label>
                    <div class="flex flex-row gap-0">
                        <a title="{{localize 'FT.item.sheet.action.deleteAction'}}"
                            class="block m-0 p-1 h-6 border-y-[1px] border-l-[1px] text-xs" data-action="deleteSpell"
                            data-index="{{@index}}"><i class="fas fa-trash"></i></a>
                        <select name="system.spells.{{@index}}.id">
                            <option value=""></option>
                            {{selectOptions ../selectOptions.worldSpells selected=spell.id}}
                        </select>
                    </div>
                </div>
                {{#if spell.data}}
                <div class="field">
                    <label>{{localize "FT.item.sheet.label.burn"}}</label>
                    <input class="!size-4" type="checkbox" name="system.spells.{{@index}}.burn" {{#if
                        spell.burn}}checked{{/if}} />
                </div>
                {{/if}}
            </div>
            {{/each}}
        </fieldset>
        {{/if}}
    </div>
</section>