<div class="flex flex-col gap-1">

    {{!-- Offensives --}}
    {{#each offenses as | offense |}}
    <div data-item-id="{{offense._id}}"
        class="grid grid-cols-[1fr_6fr_3fr_6fr_3fr] gap-1 border-[1px] dark:border-stone-400 dark:text-stone-200 rounded-none m-0 p-[2px] text-xs leading-4">
        <img class="w-4 h-4" src="{{offense.img}}" alt="">
        <span>{{offense.name}}</span>
        {{#each offense.system.attacks}}
        {{#unless @first}}<span class="col-span-2"></span>{{/unless}}
        <span>
            {{#unless (eq minST 0)}}
            <i
                class="icon-weight-lifting-up mr-1 {{#unless (gte ../../system.st.max minST)}}warning{{/unless}}"></i>{{localize
            "FT.character.attribute.st.max"}}&nbsp;{{minST}}
            {{/unless}}
            {{#if (eq offense.type "spell")}}
            <span><i class="icon-pentacle mr-1"></i>{{offense.system.stSpent}}</span>
            {{/if}}
        </span>
        <a class="px-[2px] action" data-action="attack-roll" data-attack-index="{{@index}}">
            <i class="{{property ../../FT.item.attack.icon type}} mr-1"
                title="{{localize (concat 'FT.item.attack.type.' type)}}"></i>
            {{action}}&thinsp;{{dice}}/{{localize
            (concat "FT.character.attribute." attribute)}}&thinsp;{{toHit}}</a>
        {{#if damage}}
        <a class="px-[2px] action" data-action="damage-roll" data-attack-index="{{@index}}"><i
                class="icon-death-skull mr-1"></i>{{damage}}
        </a>
        {{else}}
        <span></span>
        {{/if}}
        {{/each}}
    </div>
    {{/each}}

    {{!-- Defenses --}}
    {{#each defenses as | defense |}}
    <div data-item-id="{{defense._id}}"
        class="grid grid-cols-[1fr_6fr_3fr_6fr_3fr] gap-1 border-[1px] dark:border-stone-400 dark:text-stone-200 rounded-none m-0 p-[2px] text-xs leading-4">
        <img class="w-4 h-4" src="{{defense.img}}" alt="">
        <span>{{defense.name}}</span>
        {{#each defense.system.defenses}}
        {{#unless @first}}<span class="col-span-2"></span>{{/unless}}
        <span><i class="icon-chest-armor mr-1"></i>{{hitsStopped}}</span>
        {{/each}}
    </div>
    {{/each}}

    {{!-- Castable Items --}}
    {{#each castables as | castable |}}
    <div data-item-id="{{castable._id}}"
        class="grid grid-cols-[1fr_6fr_3fr_6fr_3fr] gap-1 border-[1px] dark:border-stone-400 dark:text-stone-200 rounded-none m-0 p-[2px] text-xs leading-4">
        <img class="w-4 h-4" src="{{castable.img}}" alt="">
        <span>{{castable.name}}</span>
        {{#each castable.system.spells}}
        {{#unless @first}}<span class="col-span-2"></span>{{/unless}}
        <span><i class="icon-pentacle"></i>&nbsp;{{data.system.castingST}}</span>
        <a class="px-[2px] action" data-action="cast-item" data-index="{{@index}}">
            <i class="{{property ../../FT.item.spell.icon data.system.type}} mr-1"
                title="{{localize (concat 'FT.item.spell.type.' data.system.type)}}"></i>
            {{localize "FT.character.sheet.button.cast"}}&nbsp;{{data.name}}</a>
        {{/each}}
    </div>
    {{/each}}

    {{!-- Active Spells --}}
    {{#each cast as | spell |}}
    <div data-item-id="{{spell._id}}"
        class="grid grid-cols-[1fr_6fr_3fr_6fr_3fr] gap-1 border-[1px] dark:border-stone-400 dark:text-stone-200 rounded-none m-0 p-[2px] text-xs leading-4">
        <img class="w-4 h-4" src="{{spell.img}}" alt="">
        <span>{{spell.name}}</span>
        <span><i class="icon-pentacle mr-1"></i>{{spell.system.stSpent}}/{{spell.system.stToMaintain}}</span>
    </div>
    {{/each}}
</div>