{{!-- Items Tab --}}
<div class="tab inventory" data-group="primary" data-tab="inventory">
    <div class="flex flex-col gap-2">
        {{!-- Table Row Partial --}}
        {{#*inline "table-row"}}
        <tr data-item-id="{{item._id}}" {{#if (eq item.type "equipment" )}}draggable="true" {{/if}}
            class="item {{#if item.system.isContainer}}item-container{{/if}}">
            {{!-- Common Columns --}}
            {{#if showItemIcon}}
            <td><img src="{{item.img}}" /></td>
            {{/if}}
            <td>{{#if item.system.isContained}}&rdsh;&nbsp;{{/if}}{{item.name}}</td>
            {{!-- Talent --}}
            {{#if (eq item.type "talent")}}
            <td>
                <a class="px-[2px] action" data-action="talent-roll">{{localize
                    "FT.actor.sheet.button.roll"}}</a>
            </td>
            <td></td>
            {{!-- Spell --}}
            {{else if (eq item.type "spell")}}
            <td>
                {{#if item.system.isReady}}
                <a class="px-[2px] action" data-action="cancel-spell">{{localize
                    "FT.actor.sheet.button.cancel"}}</a>
                {{else}}
                <a class="px-[2px] action" data-action="cast-spell">{{localize "FT.actor.sheet.button.cast"}}</a>
                {{/if}}
            </td>
            <td></td>
            {{!-- Equipment --}}
            {{else}}
            <td></td>
            <td>
                {{#unless item.system.container}}
                <a class="mr-2" data-action="item-change-location"
                    title="{{localize (concat 'FT.actor.sheet.label.location.' item.system.location)}}"><i
                        class="{{property FT.item.inventory.icons item.system.location}}"></i></a>
                {{/unless}}
            </td>
            {{/if}}
            <td class="flex flex-row gap-[2px]">
                <a class="document-chat" title="{{localize 'FT.actor.sheet.button.chat'}}"><i
                        class="fa fa-comment"></i></a>
                <a class="document-edit" title="{{localize 'FT.actor.sheet.button.edit'}}"><i
                        class="fas fa-edit"></i></a>
                <a data-action="item-delete" title="{{localize 'FT.actor.sheet.button.delete'}}"><i
                        class="fas fa-trash"></i></a>
            </td>
        </tr>
        {{/inline}}
        {{!-- Inventory Table --}}
        <table>
            <thead>
                <tr>
                    {{#if settings.showItemIcons}}<th></th>{{/if}}
                    <th class="w-full">{{localize 'FT.actor.sheet.table.items.name'}}</th>
                    <th></th>
                    <th>{{localize 'FT.actor.sheet.table.items.location'}}</th>
                    <th></th>
                </tr>
            </thead>
            {{!-- Talents --}}
            <tbody class="border-b">
                {{#each talents as |item|}}
                {{> "table-row" item=item showItemIcon=../settings.showItemIcons FT=../FT}}
                {{/each}}
            </tbody>
            {{!-- Inventory --}}
            <tbody class="border-b">
                {{#each inventory as |item|}}
                {{> "table-row" item=item showItemIcon=../settings.showItemIcons FT=../FT}}
                {{/each}}
            </tbody>
            {{!-- Spells --}}
            <tbody class="border-b">
                {{#each spells as |item|}}
                {{> "table-row" item=item showItemIcon=../settings.showItemIcons FT=../FT}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>