{{!-- Sheet Header --}}
<header id="{{partId}}" class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-action="editImage" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields flex flex-row gap-1">
        <input class="name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        <a data-action="chat" title="{{localize 'FT.actor.sheet.action.chat'}}"> <i class="fas fa-comment text-2xl"></i>
        </a>
    </div>
</header>