{{!-- Character Tab --}}
<section id="{{partId}}" class="tab {{tabs.character.cssClass}}" data-group="primary" data-tab="character">
    <div class="flex flex-col gap-2">
        {{!-- Stats --}}

        {{!-- Attribute Partial --}}
        {{#*inline "attribute"}}
        <div class="flex flex-row gap-0 justify-between">
            <label class="attribute h-6 text-center min-w-8">{{localize
                (concat "FT.actor.attribute." key ".max")}}</label>
            <input class="m-0 !text-center grow" type="number" name="system.{{key}}.max" min="0" value="{{attr.max}}" />
            <a class="block m-0 p-1 h-6 border-y-[1px] border-r-[1px] border-ft-dark sheet-button"
                data-action="attributeRoll" data-attribute="{{key}}" data-path="{{key}}.max" data-type="save"><i
                    class="icon-d6"></i></a>
        </div>
        <div class="field w-14 ml-auto">
            {{#if roll}}
            <div class="flex flex-row gap-0">
                <input class="m-0 w-14 !text-center" type="text" value="{{attr.value}}" readonly />
                <a title="{{title}}" class="block m-0 p-1 border-y-[1px] border-r-[1px] border-ft-dark sheet-button"
                    data-action="attributeRoll" data-attribute="adj{{key}}" data-path="{{key}}.value"
                    data-type="save"><i class="icon-d6"></i></a>
            </div>
            {{else if action}}
            <div class="flex flex-row gap-0">
                <input class="m-0 w-14 !text-center" type="text" value="{{attr.value}}" readonly />
                <a title="{{title}}" class="block m-0 p-1 border-y-[1px] border-r-[1px] border-ft-dark sheet-button"
                    data-action="{{name}}"><i class="{{icon}}"></i></a>
            </div>
            {{else}}
            <input class="m-0 w-14 !text-center" type="text" value="{{attr.value}}" readonly />\
            {{/if}}
        </div>
        {{/inline}}

        {{!-- Attribute Block --}}
        <section id="attributes" class="grid grid-flow-col grid-rows-2 gap-1">
            {{> attribute key="st" attr=system.st roll=true title=(localize "FT.actor.sheet.action.attribute.roll")}}
            {{> attribute key="dx" attr=system.dx roll=true title=(localize "FT.actor.sheet.action.attribute.roll")}}
            {{> attribute key="iq" attr=system.iq roll=true title=(localize "FT.actor.sheet.action.attribute.roll")}}
            {{> attribute key=(concat "ma." system.ma.mode) attr=system.currentMA action=true
            name="changeMovement" icon=(concat "icon-" system.ma.mode) title=(localize (concat
            "FT.actor.attribute.ma.mode."
            system.ma.mode))}}
        </section>

        <section id="status" class="flex flex-col gap-1">
            {{!-- Encumbrance --}}
            <div class="track">
                <span class="track-type" title="{{localize 'FT.actor.sheet.label.encumbrance'}}">
                    <i class="icon-knapsack"></i>
                </span>
                {{#each system.encumbrance.capacity as |capacity|}}
                <span
                    class="track-gauge {{#if (eq @index ../system.encumbrance.level)}}{{lookup ../FT.actor.tracks.encumbrance.colors @index}}{{/if}}"
                    title="{{localize (concat 'FT.actor.sheet.label.encumbranceLevel.' @index)}}">
                    {{numberFormat capacity decimals=0}}&thinsp;{{localize 'FT.actor.sheet.table.items.unit'}}
                </span>
                {{/each }}
            </div>


            {{!-- Fatigue & Damage --}}
            <div class="track">
                <span class="track-type" title="{{localize 'FT.actor.sheet.label.health'}}">
                    <i class="icon-death-skull"></i>
                </span>
                <span class="track-gauge col-span-7 flex flex-row gap-0">
                    {{#each (range system.damage)}}
                    <span class="grow {{../FT.actor.tracks.damage.color}}"
                        title="{{localize 'FT.actor.sheet.label.damage'}}"></span>
                    {{/each}}
                    {{#each (range system.fatigue)}}
                    <span class="grow {{../FT.actor.tracks.fatigue.color}}"
                        title="{{localize 'FT.actor.sheet.label.fatigue'}}"></span>
                    {{/each}}
                    {{#each (range system.st.value)}}
                    <span class="grow bg-transparent"></span>
                    {{/each}}
                </span>
            </div>

            {{!-- Mana (for NPC wizards) --}}
            <div class="track">
                <span class="track-type" title="{{localize 'FT.actor.sheet.label.mana'}}">
                    <i class="icon-wizard-staff"></i>
                </span>
                <span class="track-gauge col-span-7 flex flex-row gap-0">
                    {{#each (range system.mana.value)}}
                    <span class="grow {{../FT.actor.tracks.mana.color}}"></span>
                    {{/each}}
                    {{#each (range system.mana.used)}}
                    <span class="grow bg-transparent"></span>
                    {{/each}}
                </span>
            </div>

            {{!-- Damage, Fatigue and stats modifiers --}}
            <div class="flex flex-row gap-1 text-xs text-center">
                <div class="field"><label>{{localize "FT.actor.sheet.label.fatigue"}}</label><input type="number"
                        name="system.fatigue" value="{{system.fatigue}}" min="0"></div>
                <div class="field"><label>{{localize "FT.actor.sheet.label.damage"}}</label><input type="number"
                        name="system.damage" value="{{system.damage}}" min="0"></div>
                <div class="field"><label>{{localize "FT.actor.sheet.label.mana"}}</label><input type="number"
                        name="system.mana.value" value="{{system.mana.value}}" max="{{system.mana.max}}">
                </div>
                <div class="field"><label>{{localize "FT.actor.sheet.label.stMod"}}</label><input type="number"
                        name="system.st.mod" value="{{system.st.mod}}">
                </div>
                <div class="field"><label>{{localize "FT.actor.sheet.label.dxMod"}}</label><input type="number"
                        name="system.dx.mod" value="{{system.dx.mod}}">
                </div>
                <div class="field"><label>{{localize "FT.actor.sheet.label.iqMod"}}</label><input type="number"
                        name="system.iq.mod" value="{{system.iq.mod}}">
                </div>
                <div class="field"><label>{{localize "FT.actor.sheet.label.maMod"}}</label><input type="number"
                        name="{{concat 'system.ma.' system.ma.mode '.mod' }}" value="{{system.currentMA.mod}}">
                </div>
            </div>
        </section>

        {{!-- Actions --}}
        <section id="actions" class="flex flex-col gap-1">
            {{#each readied as | item |}}
            <fieldset class="action-item" data-item-id="{{item._id}}">
                <legend>{{item.name}}</legend>
                <img src="{{item.img}}" alt="">
                <div class="action-item-details">
                    {{!-- Active Spell --}}
                    {{#if (eq item.type "spell")}}
                    <span><i class="icon-pentacle mr-1"></i>{{item.system.stSpent}}/{{item.system.stToMaintain}}</span>
                    <a class="px-1 sheet-button" data-action="maintainSpell"><i
                            class="icon-magic-swirl mr-1"></i>{{localize
                        "FT.actor.sheet.action.spell.maintain"}}</a>
                    <a class="px-1 sheet-button" data-action="cancelSpell"><i
                            class="icon-magic-swirl mr-1"></i>{{localize
                        "FT.actor.sheet.action.spell.cancel"}}</a>
                    <span></span>
                    {{/if}}
                    {{!-- Attacks --}}
                    {{#each item.system.attacks as | attack |}}
                    <span>
                        {{#if attack.minST}}
                        <i
                            class="icon-weight-lifting-up mr-1 {{#unless (gte ../../system.st.max minST)}}warning{{/unless}}"></i>{{localize
                        "FT.actor.attribute.st.max"}}&nbsp;{{minST}}
                        {{/if}}
                    </span>
                    <a class="px-1 sheet-button" data-action="attackRoll" data-attack-index="{{@index}}"
                        title="{{localize (concat 'FT.item.attack.type.' type)}}">
                        <i class="{{property ../../FT.item.attack.icon type}} mr-1"></i>
                        {{action}}&thinsp;{{dice}}/{{localize
                        (concat "FT.actor.attribute." attribute)}}&thinsp;{{toHit}}</a>
                    <a class="px-1 sheet-button" data-action="damageRoll" data-attack-index="{{@index}}"><i
                            class="icon-death-skull mr-1"></i>{{damage}}
                    </a>
                    {{/each}}
                    {{!-- Defenses --}}
                    {{#each item.system.defenses as | defense |}}
                    <span><i class="icon-chest-armor mr-1"></i>{{hitsStopped}}</span>
                    <span class="px-1">{{action}}</span>
                    <span></span>
                    {{/each}}
                    {{!-- Spells --}}
                    {{#each item.system.spells as | spell |}}
                    <span>
                        <i class="icon-pentacle mr-2"></i>{{spell.casting}}&thinsp;{{#if spell.burn}}<i
                            class="icon-flame"></i>{{/if}}
                    </span>
                    <a class="sheet-button px-1" data-action="castSpellFromItem" data-spell-uuid="{{spell.uuid}}"
                        data-burn="{{spell.burn}}"
                        title="{{localize 'FT.actor.sheet.action.spell.cast'}} {{spell.name}}">
                        <i class="icon-magic-swirl mr-1"></i>{{spell.name}}</a>
                    <span></span>
                    {{/each}}
                </div>
            </fieldset>
            {{/each}}
        </section>

    </div>
</section>